<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Tolkien Dwarfs</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>



</head>
<body>

<div class="container">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Picture</th>
    </tr>
  <tr>
    <td>Thorin</td>
    <td><img src=../static/Thorin.png width=100 height=130/></td>
 
  </tr>
 
  
</table>


</div>


</head>
</html>