<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<title th:text="${pageTitle}">Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>
<body>
	<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="jumbotron">
		<h2 align="center">Welcome to Breakfast Buddy!</h2>
		<h4 align="center">Your favourite meal of the day!</h4>
	</div>

	<div align="center">
		<h4>Select from one of the following options:</h4>
		<a href="cereal"><button type="button" class="btn btn-primary">Cereals</button></a>
		<a href="bread"><button type="button" class="btn btn-primary">Breads</button></a>
		<a href="recipes"><button type="button" class="btn btn-primary">Recipes</button></a>
	</div>






</body>
</html>
