<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<title th:text="${pageTitle}">Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>
<body>
	<nav th:replace="layout/nav :: navFragment"></nav>

	<div align="center" class="jumbotron">
		<h2>Titanic History</h2>
	<h5> Select an image below to be redirected to another source or watch the documentary </h5>

	
	</div>

<div align="center"> 
	<a href="http://www.bbc.co.uk/history/titanic">
  <img src="historytitanic.jpg" alt="BBC Titanic History" align="left" style="width:240px;height:180px;border:0;"/>
	</a>
	
	<a href="https://en.wikipedia.org/wiki/RMS_Titanic">
  <img src="historytitanic.jpg" alt="Wikipedia RMS Titanic"  align="middle" style="width:240px;height:180px;border:0;"/>
	</a>
	
	
	<a href="https://www.smithsonianmag.com/history/photos-of-the-titanic-tragedy-from-101-years-ago-19446446/">
  <img src="historytitanic.jpg" alt="Titanic History Gallery"  align="right" style="width:240px;height:180px;border:0;"/>
	</a>

<br /><br /><br />
<h4> Titanic Documentary </h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AzIuh3J5gVI"></iframe>
	<br />
</div>
</body>
</html>
