<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="${pageTitle}">Titanic Passengers</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>
</head>
<body>
	<nav th:replace="layout/nav :: navFragment"></nav>
	<div class="container">
		<h1 align="center">Titanic Passengers</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex</th>
					<th>Passenger Class</th>
					<th>Sibling/Spouse</th>
					<th>Embarked</th>
					<th>Survived</th>
					<th>Ticket</th>
					
					<th>Parch</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="passenger : ${passengers}">
				<td th:text="${passenger.name}"></td>
				<td th:text="${passenger.age}"></td>
				<td th:text="${passenger.sex}"></td>
				<td th:text="${passenger.pclass}"></td>
				<td th:text="${passenger.sib_sp}"></td>
				<td th:text="${passenger.embarked}"></td>
				<td th:text="${passenger.survived}"></td>
				<td th:text="${passenger.ticket}"></td>
				<td th:text="${passenger.parch}"></td>

					
					

				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>